<div class="container background-image">
	<div class="row">
	    <div class="menus-title-image">
	      	<p class="menus-title-font">お品書き</p>
	    </div>
	    <nav>
			<ul class="nav-list">
				<li class="menus-nav-item col-xs-6 col-lg-3"><a href="#link1" id="menus-nav-font">おまかせコース</a></li>
				<li class="menus-nav-item col-xs-6 col-lg-3"><a href="#link2" id="menus-nav-font">握り寿司　巻物</a></li>
	 			<li class="menus-nav-item col-xs-6 col-lg-3"><a href="#link3" id="menus-nav-font">一品料理</a></li>
	 			<li class="menus-nav-item col-xs-6 col-lg-3"><a href="#link4" id="menus-nav-font">飲み物</a></li>
			</ul>
		</nav>
    </div>
	<div class="row ">
		<h1 class="menus-title" id="link1"><%= image_tag 'logo.png',size:'40x40',class: 'menus-logo'%>おまかせコース</h1>
		<div class="clearfix">
			<%= image_tag 'image2.jpg',class: 'menus-image1'%>
			<div class="menus-image4" style="text-align: center;">
				<h1 class="menus-font"><span class="border">おまかせコース(特上)</span></h1>
				<h1 class="menus-font2">20,000円(税別)</h1>
				<h4 class="menus-font">先付、小鉢２品、刺身５種、焼き物、揚げ物、 蒸し物、鮨１０貫、お椀、デザート</h4>
				<h1 class="menus-font"><span class="border">おまかせコース(上)</span></h1>
				<h1 class="menus-font2">15,000円(税別)</h1>
				<h4 class="menus-font">先付、小鉢２品、刺身３種、焼き物、揚げ物、 鮨８貫、お椀、デザート</h4>
			</div>
		</div>
		 <h1 class="menus-title" id="link2"><%= image_tag 'logo.png',size:'40x40',class: 'menus-logo'%>握り寿司　巻物</h1>
		<div class="clearfix">
			<div class="menus-image4 " style="text-align: center;">
				<h2 class="menus-font"><span class="border">握り寿司</span></h2>
				<h3>松（まつ） 5,000円(税別)</h3>
				<h3>竹（たけ） 3,000円(税別)</h3>
				<h3>梅（うめ） 2,000円(税別)</h3>
				<h4 class="menus-font">大とろ、うに、本みる貝、あわび、中とろ、赤身まぐろ、赤貝、煮はまぐり、えんがわ、赤貝、活海老、あなご、鯵、 すみいか、小柱、数の子、天然鯛、帆立、いくら、鯖、こはだ、玉子、等の旬の素材</h4>
				<h2 class="menus-font2"><span class="border">巻物</span></h2>
				<h4 class="menus-font2">ねぎとろ巻、とろ巻、あなきゅう巻、鉄火巻、いくら巻、梅しそ巻、納豆巻、のり巻、かっぱ巻、たくわん巻</h4>
			</div>
			<%= image_tag 'image3.jpg',class: 'menus-image1'%>
		</div>
		<h1 class="menus-title" id="link3"><%= image_tag 'logo.png',size:'40x40',class: 'menus-logo'%>一品料理</h1>
		<div class="menus-image2" style="text-align: center;">
			<div class="col-xs-12 col-lg-6">
				<h2 class="menus-font3"><span class="border">一品料理</span></h2>
				<h3>お新香盛合せ　　　　780円(税別)</h3>
				<h3>寿司屋のサラダ　　1,100円(税別)</h3>
				<h3>寿司屋の酢の物　　1,380円(税別)</h3>
				<h3>北海道風茶碗蒸し　　700円(税別)</h3>
				<h3>寿司屋の珍味　　　550円(税別)～<br>(内容はスタッフにお尋ねください)</h3>
				<h2 class="menus-font3"><span class="border">焼き物</span></h2>
				<%= image_tag 'image5.jpg',class: 'menus-image3'%>
				<h3>季節の焼物　　　　1,500円～(税別)<br>(内容はスタッフにお尋ねください)</h3>
				<h3>本ししゃも焼き（オス・1本)　　550円(税別)</h3>
				<h3>本ししゃも焼き（メス・1本）　　780円(税別)</h3>
				<h3>のどぐろ一夜干し　　1,500円(税別)</h3>
				<h2 class="menus-font3"><span class="border">デザート</span></h2>
				<h3>本日のデザート　　550円(税別)</h3>
				<h3>アイスクリーム　　420円(税別)</h3>
			</div>
			<div class="col-xs-12 col-lg-6">
				<h2 class="menus-font3"><span class="border">お造り盛り合わせ</span></h2>
				<%= image_tag 'image4.jpg',class: 'menus-image3'%>
				<h3>旬のお造り盛合せ　　　　2,500円(税別)<br>(1名様用)</h3>
				<h3>おまかせお造り盛合せ　　5,000円～(税別)<br>(人数に応じて対応させていただきます)</h3>
				<h3>貝尽くし盛合　　　　　3,500円(税別)</h3>
				<h2 class="menus-font3"><span class="border">小鉢</span></h2>
				<%= image_tag 'image6.jpg',class: 'menus-image3'%>
				<h3>小樽漁師風いかそうめん　1,380円(税別)</h3>
				<h3>海水うに小鉢　　　2,500円(税別)</h3>
				<h3>いくら小鉢　　　　2,100円(税別)</h3>
				<h3>大つぶ貝刺　　　　2,100円(税別)</h3>
			</div>
		</div>
		<h1 class="menus-title" id="link4"><%= image_tag 'logo.png',size:'40x40',class: 'menus-logo'%>飲み物</h1>
		<div class="clearfix">
			<%= image_tag 'image7.jpg',class: 'menus-image1'%>
			<div class="menus-image4" style="text-align: center;">
				<h2 class="menus-font4"><span class="border">日本酒</span></h2>
				<h4 class="menus-font4">江戸開城、獺祭、船中八策、土佐鶴、日高見・弥助、八海山純米吟醸、大那、伯楽星、新政No,6、田酒、黒龍</h4>
				<h2 class="menus-font4"><span class="border">焼酎</span></h2>
				<h4 class="menus-font4">吉四六、二階堂、中々、百年の孤独、魔王、富乃宝山、森伊蔵、村尾、獺祭、八海山よろしく千萬</h4>
				<h2 class="menus-font4"><span class="border">その他</span></h2>
				<h4 class="menus-font4">キリン一番搾り、スーパードライ　ノンアルコールビール、ハイボール　梅酒サワー　緑茶ハイ　烏龍ハイ　 レモンサワー</h4>
				<h2 class="menus-font4"><span class="border">ソフトドリンク</span></h2>
				<h4 class="menus-font4">緑茶　烏龍茶　コーラ　オレンジジュース　炭酸水</h4>
			</div>
		</div>
	</div>
	<div class="row" style="text-align: center;padding-top:10px;" >
		<span id="back">
		    <a href="#">
		      	<%= image_tag 'arrow.png'%>
		    </a>
		</span>
	</div>
</div>

<!-- トップに戻る -->
<script type="text/javascript">
  $(function(){

    $('#back a').on('click',function(){
    $('body, html').animate({
      scrollTop:0
    }, 800);
      return false;
  });
});
</script>