<div class="container-fluid background-image2">
	<div class="row">
	    <h2 class= text-center><span class="border">入力確認画面</span></h2>
	    <div class="col-xs-4"></div>
	      	<div class="col-xs-4" style="padding-bottom: 20px;">
		        <table class="table reservation-table">
					<tbody>
						<tr>
							<th width="40%">予約日時</th>
							<td width="60%"><%= @reservation.reservation_day%></td>
						</tr>
						<tr>
							<th>予約時間</th>
							<td><%= @reservation.reservation_time %></td>
						</tr>
						<tr>
							<th>予約人数</th>
							<td><%= @reservation.people %>人</td>
						</tr>
						<tr>
							<th>お名前</th>
							<td><%= @reservation.customer_name  + "様"%></td>
						</tr>
						<tr>
							<th>電話番号</th>
							<td><%= @reservation.phone_number %></td>
						</tr>
						<tr>
							<th>メールアドレス</th>
							<td><%= @reservation.email %></td>
						</tr>
						<tr>
							<th>ご要望</th>
							<td class="reservation-request"><%= @reservation.request %></td>
						</tr>
					</tbody>
				</table>
				<div class="reservation_form" >
					<!-- 入力欄に戻る -->
					<%= form_for @reservation,url: new_reservation_path do |f| %>
						<%= f.hidden_field :reservation_day %>
						<%= f.hidden_field :reservation_time %>
						<%= f.hidden_field :people %>
						<%= f.hidden_field :customer_name %>
						<%= f.hidden_field :phone_number %>
						<%= f.hidden_field :email %>
						<%= f.hidden_field :request %>
					    <button type="submit" class="btn btn-default" name='back'>入力画面に戻る</button>
					<% end %>
					<!-- 予約を確定する -->
					<%= form_for @reservation, url: reservations_path do |f| %>
						<%= f.hidden_field :reservation_day %>
						<%= f.hidden_field :reservation_time %>
						<%= f.hidden_field :people %>
						<%= f.hidden_field :customer_name %>
						<%= f.hidden_field :phone_number %>
						<%= f.hidden_field :email %>
						<%= f.hidden_field :request %>
				  		<button type="submit" class="btn btn-primary">予約する</button>
				  	<% end %>
	            </div>
		    </div>
	    <div class="col-xs-4"></div>
	</div>
</div>