<div class= "container">
	<div class ="row">
	    <h2 class = text-center>ご予約承りました！</h2>
	    <div class = "col-xs-3"></div>
	      	<div class = "col-xs-6">
		        <table class = "table"style="font-size:20px;">
					<tbody>
						<tr>
							<th class = "line">予約日時</th>
							<td class = "line"><%= @reservation.reservation_day %></td>
						</tr>
						<tr>
							<th class = "line">予約時間</th>
							<td class = "line"><%= @reservation.reservation_time %></td>
						</tr>
						<tr>
							<th class = "line">予約人数</th>
							<td class = "line"><%= @reservation.people %></td>
						</tr>
						<tr>
							<th class = "line">お名前</th>
							<td class = "line"><%= @reservation.customer_name %></td>
						</tr>
						<tr>
							<th class = "line">電話番号</th>
							<td class = "line"><%= @reservation.phone_number %></td>
						</tr>
						<tr>
							<th class = "line">メールアドレス</th>
							<td class = "line"><%= @reservation.email %></td>
						</tr>
						<tr>
							<th class = "line">ご要望</th>
							<td class = "line"><%= @reservation.request %></td>
						</tr>
					</tbody>
				</table>
				<div>
					<!-- <h4>＊お客様宛に予約内容のメールを送信させていただきました</h4> -->
					<h4>＊キャンセルをご希望の方はこちらから</h4>
					<%= link_to reservation_path(@reservation.id), method: :delete, data: {confirm: 'キャンセルしますか？'} do %>
	                    <button class="btn btn-danger">キャンセルする</button>
	                <% end %>
	            <div>
		    </div>
	    <div class = "col-xs-3"></div>
	</div>
</div>