<div class="container-fluid background-image2">
	<div class="row">
	    <h2 class= "reservation-title"><span class="border">ご予約承りました</span></h2>
	    <h2 class= "reservation-title" style="padding-top: 10px;">心よりお待ちしております!</h2>
	    <div class="col-xs-4"></div>
	      	<div class="col-xs-4"style="padding-bottom:20px;">
		        <table class="table reservation-table">
					<tbody>
						<tr>
							<th width="40%">予約日時</th>
							<td width="60%"><%= @reservation.reservation_day.strftime("%Y/%m/%d") %></td>
						</tr>
						<tr>
							<th>予約時間</th>
							<td><%= @reservation.reservation_time %></td>
						</tr>
						<tr>
							<th>予約人数</th>
							<td><%= @reservation.people %>人</td>
						</tr>
						<tr>
							<th>お名前</th>
							<td><%= @reservation.customer_name  + "様"%></td>
						</tr>
						<tr>
							<th>電話番号</th>
							<td><%= @reservation.phone_number %></td>
						</tr>
						<tr>
							<th>メールアドレス</th>
							<td><%= @reservation.email %></td>
						</tr>
						<tr>
							<th>ご要望</th>
							<td class="reservation-request"><%= @reservation.request %></td>
						</tr>
					</tbody>
				</table>
				<div>
					<!-- <h4>＊お客様宛に予約内容のメールを送信させていただきました</h4> -->
					<h4>＊キャンセルをご希望の方はこちらから</h4>
					<%= link_to reservation_path(@reservation.id), method: :delete, data: {confirm: 'キャンセルしますか？'} do %>
	                    <button class="btn btn-danger">キャンセルする</button>
	                <% end %>
	            </div>
		    </div>
	    <div class="col-xs-4"></div>
	</div>
</div>