<div class="container-fluid background-image2">
    <div class="row">
      <h2 style="text-align: center;"><span class ="border">お知らせ一覧
      </span></h2>
    </div>
    <div class="row">
      <div class="col-xs-3"></div>
        <div class="col-xs-6">
          <%= link_to new_admin_notice_path do %>
            <button class="btn btn-primary pull-right">投稿する</button>
          <% end %>
          <table class="table notice-table-border2" style="padding-top: 10px;">
            <thead>
              <tr class="active">
                <th>投稿日時</th>
                <th>タイトル</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @notices.each do |notice| %>
              <tr>
                <td><%= notice.created_at.strftime("%Y/%m/%d") %></td>
                <td><%= notice.title.truncate(20) %></td>
                <td>
                  <%= link_to admin_notice_path(notice.id) do %>
                    <button class="btn btn-success">詳細</button>
                  <% end %>
                </td>
                <td>
                  <%= link_to admin_notice_path(notice.id), method: :delete, data: {confirm: '削除しますか？'} do %>
                    <button class="btn btn-danger">削除</button>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <div  class="kaminari">
            <%= paginate @notices %>
          </div>
        </div>
      <div class="col-xs-3"></div>
    </div>
  </div>