<div class= "container">
    <div class ="row">
      <h2 class = text-center>お知らせ一覧
      <%= link_to new_admin_notice_path do %>
        <button class="btn btn-primary">投稿する</button>
      <% end %></h2>
    </div>
    <div class = "row">
      <div class = "col-xs-2"></div>
        <div class = "col-xs-8">
          <table class ="table">
            <thead>
              <tr>
                <th>投稿日時</th>
                <th>タイトル</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @notices.each do |notice| %>
              <tr>
                <td><%= notice.created_at.strftime("%Y/%m/%d") %></td>
                <td><%= notice.title %></td>
                <td>
                  <%= link_to admin_notice_path(notice.id) do %>
                    <button class="btn btn-success">詳細</button>
                  <% end %>
                </td>
                <td>
                  <%= link_to admin_notice_path(notice.id), method: :delete do %>
                    <button class="btn btn-danger">削除</button>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <div class = "col-xs-2"></div>
    </div>
  </div>