<div class="container-fluid background-image2">
  <div class="row">
    <h2 class="notice-font3"><span class="border">お知らせ詳細</span></h2>
    <div class="col-xs-3"></div>
      <div class="col-xs-6">
        <h3 style="text-align: center;"><%= @notice.created_at.strftime("%Y/%m/%d")%></h3>
        <h1 class="notice-font4"><%= @notice.title %></h1>
        <div class="col-xs-4" style="text-align: right;">
          <span><%= attachment_image_tag @notice, :image, :fill,150,150, fallback: "no_image.jpg", size:'200x200'%></span>
        </div>
        <div class="col-xs-8">
          <h4 class="notice-font5"><%= @notice.content %></h4>
          <div class="btn-group btn-group-justified" >
            <div class="btn-group">
              <%= link_to edit_admin_notice_path(@notice.id) do %>
                <button class="btn btn-warning">編集する</button>
              <% end %>
            </div>
            <div class="btn-group">
              <%= link_to admin_notices_path do %>
                <button class="btn btn-default">一覧に戻る</button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <div class="col-xs-3"></div>
  </div>
  <div class="row">
    <div class="col-xs-6 notice-link2">
      <% if @notice.previous.present? %>
        <%= link_to admin_notice_path(@notice.previous.id), class: 'notice-link4' do %>
          <%= "<<　" + @notice.previous.title + "　|" %>
        <% end %>
      <% end %>
    </div>
    <div class="col-xs-6 notice-link3">
      <% if @notice.next.present? %>
        <%= link_to admin_notice_path(@notice.next), class: 'notice-link4' do %>
          <%= "|　" + @notice.next.title + "　>>"  %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>