<!DOCTYPE html>
<html>
  <head>
    <title>SushiHp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar ">
      <div class="container">
        <nav class="nav navbar-nav">
          <% if admin_signed_in? %>
            <%= link_to admin_root_path do %>
              <%= image_tag 'sushi.png', size: "200x70" %>
            <% end %>
          <% else %>
            <%= link_to root_path do %>
              <%= image_tag 'sushi.png', size: "200x70" %>
            <% end %>
          <% end %>
        </nav>
      </div>
      <div class="container">
        <ul class="nav navbar-nav">
          <!--if文でサインインとアウト時の表示を変更-->
          <% if admin_signed_in? %>
            <li><%= link_to ' サイトの使い方', admin_root_path%></li>
            <li><%= link_to ' お知らせ', admin_notices_path%></li>
            <li><%= link_to ' 予約', admin_reservations_path%></li>
            <li><%= link_to ' ログアウト', destroy_admin_session_path, method: :delete%></li>
          <% else %>
            <li><%= link_to ' サイトの使い方', about_path%></li>
            <li><%= link_to ' お知らせ', notices_path%></li>
            <li><%= link_to ' 店舗紹介', shop_path%></li>
            <li><%= link_to ' お品書き', menus_path%></li>
            <li><%= link_to ' 予約', new_reservation_path%></li>
            <li><%= link_to ' 店舗案内', store_path%></li>
          <% end %>
        </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
